<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--客户端连接的监听配置：
        Host:服务器，配置空时自动获取
        Port:监听端口
        Backlog:监听挂起连接队列数
        ContinuedTimeout:持续连接超时时间，用于心跳包机制
        BufferSize:缓存大小，默认1024
        MinConnectNum:最小连接数
        MaxConnectNum:最大连接数
        EnableReceiveTimeout:true启动超时处理
        ReceiveTimeout:接收超时毫秒
    -->
    <add key="ClientListener.Host" value="" />
    <add key="ClientListener.Port" value="9500" />
    <add key="ClientListener.Backlog" value="1000" />
    <add key="ClientListener.ContinuedTimeout" value="30"/>
    <add key="ClientListener.BufferSize" value="1024" />
    <add key="ClientListener.MinConnectNum" value="1000" />
    <add key="ClientListener.MaxConnectNum" value="10000" />
    <add key="ClientListener.EnableReceiveTimeout" value="true" />
    <add key="ClientListener.ReceiveTimeout" value="8000" />

    <add key="GameListener.Host" value="" />
    <add key="GameListener.Port" value="9501" />
    <add key="GameListener.Backlog" value="1000" />
    <add key="GameListener.ContinuedTimeout" value="30"/>
    <add key="GameListener.BufferSize" value="1024" />
    <add key="GameListener.MinConnectNum" value="10" />
    <add key="GameListener.MaxConnectNum" value="1000" />

    <!--Http请求监听配置
        Host:域名或IP地址，多个用,号分隔
        Port:端口,默认80
        GameAppName:游戏程序名
        RequestTimeout:请求的超时时间，单位毫秒
    -->
    <add key="HttpListener.Host" value="http://192.168.1.55" />
    <add key="HttpListener.Port" value="80" />
    <add key="HttpListener.GameAppName" value="Service.aspx" />
    <add key="HttpListener.RequestTimeout" value="30000"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>