<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SocketServer.Port" value="9700" />
    <!--Socket监听挂起连接队列数-->
    <add key="SocketServer.Backlog" value="1000" />
    <!--长连接10分钟超时-->
    <add key="SocketServer.ConnectTimeout" value="600"/>
    <!--处理接收数据对象池最小和最大值-->
    <add key="SocketServer.MinAsyncPool" value="1000" />
    <add key="SocketServer.MaxAsyncPool" value="10000" />
    <!--数据接收缓冲区大小-->
    <add key="SocketServer.BufferSize" value="512" />
    <!--允许远端调用的IP地址(多个,分隔)，只提供内部程序之间通知-->
    <add key="SocketServer.Ip.CallAccessLimit" value="192.168.1.*" />
    
    <add key="Enable.Error" value="true" />
    <add key="Error.NotFind" value="游戏服已关闭!" />
    <add key="Error.Connected" value="连接到游戏服失败!" />
    <add key="Error.Timeout" value="连接游戏服超时!" />
    <add key="Error.Unknown" value="游戏服系统繁忙!" />
    <add key="Error.CallAccessLimit" value="访问被限制！"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>