<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--基本配置
        Port:监听端口
        Code:产品代码
        ServerId:产品游服代码
        Redis.Host:Redis主机地址
        Redis.Port:Redis主机端口
        Redis.Password:密码
        Redis.Db:数据库位置
    -->
    <add key="Product.Code" value="0"/>
    <add key="Product.ServerId" value="0"/>
    <add key="Game.Port" value="9001"/>
    <add key="Redis.Host" value="127.0.0.1:6379"/>
    <add key="ScriptRelativePath" value="Script"/>
    <add key="CSharpRootPath" value="CsScript"/>
    <add key="LuaRootPath" value="LuaScript"/>
    <add key="Game.Language.TypeName" value="GameServer.CsScript.Locale.SimplifiedLanguage"/>
    <add key="Game.Action.Script.TypeName" value="GameServer.CsScript.Action.Action{0}"/>
    <add key="Script_IsDebug" value="True"/>
	<add key="PublishType" value="Debug" />
    <add key="Lua_Disable" value="True"/>
    
    <!--脚本解密回调配置-->
    <!--<add key="Game.Script.DecodeFunc.TypeName" value="ScutSecurity.ScriptDes,ScutSecurity"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="SnsCenter" providerName="SqlDataProvider" connectionString="Data Source=localhost;Database=snscenter;Uid=sa;Pwd=123;Pooling=true;"/>
    <add name="PayCenter" providerName="SqlDataProvider" connectionString="Data Source=localhost;Database=PayDB;Uid=sa;Pwd=123;Pooling=true;"/>
    <add name="ConnData" providerName="SqlDataProvider" connectionString="Data Source=localhost;Database=PHData;Uid=game_user;Pwd=123;"/>-->
  </connectionStrings>
</configuration>
