<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--socket listen-->
    <add key="Port" value="9500"/>
    <add key="GameIds" value="5"/>
    <add key="MaxConnections" value="40000"/>
    <add key="Backlog" value="100"/>
    <add key="MaxAcceptOps" value="100"/>
    <add key="BufferSize" value="2048"/>
    <add key="EnableErrorMsg" value="false"/>
    <!--http listen
    <add key="GameHost" value="http://kd.36you.net,http://192.168.1.55"/>
    <add key="GamePort" value="80"/>
    <add key="GameName" value="Service.aspx"/>-->
  </appSettings>
    <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="DirServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                    <message clientCredentialType="UserName" algorithmSuite="Default"/>
                </security>
            </binding>
            <binding name="DirServiceSoap"/>
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://dir.36you.net/DirService.asmx" binding="basicHttpBinding" bindingConfiguration="DirServiceSoap" contract="net._36you.dir.DirServiceSoap" name="DirServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
