<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProxyServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--socket listen-->
    <add key="Port" value="9500"/>
    <add key="GameIds" value="5"/>
    <add key="MaxConnections" value="40000"/>
    <add key="Backlog" value="100"/>
    <add key="MaxAcceptOps" value="100"/>
    <add key="BufferSize" value="2048"/>
    <!--http listen
    <add key="GameHost" value="http://kd.36you.net,http://192.168.1.55"/>
    <add key="GamePort" value="80"/>
    <add key="GameName" value="Service.aspx"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="DirServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
            </binding>
            <binding name="DirServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
            </binding>
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://dir.scutgame.com/DirService.asmx" binding="basicHttpBinding"
            bindingConfiguration="DirServiceSoap" contract="com.scutgame.dir.DirServiceSoap"
            name="DirServiceSoap" />
        <endpoint address="http://dir.scutgame.com/DirService.asmx" binding="basicHttpBinding"
            bindingConfiguration="DirServiceSoap1" contract="com.scutgame.dir.DirServiceSoap"
            name="DirServiceSoap1" />
    </client>
  </system.serviceModel>
    <applicationSettings>
        <ProxyServer.Properties.Settings>
            <setting name="ProxyServer_com_scutgame_dir_DirService" serializeAs="String">
                <value>http://dir.scutgame.com/DirService.asmx</value>
            </setting>
        </ProxyServer.Properties.Settings>
    </applicationSettings>
</configuration>
