<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messageConfig" type="ZyGames.MSMQ.Model.MessageConfig, ZyGames.MSMQ.Model"/>
  </configSections>
  <messageConfig managerName="消息队列管理器" managerThreadNumber="7" managerThreadTimeOut="5" managerMessagePath="" errorPath=".\private$\ErrorLogCmdSql"/>

  <appSettings>
    <!--消息队列配置-->
    <add key="messageConnection" value=""/>
    <add key="messageReDoExecuteCount" value="1"/>
    <add key="messageErrorMQMaxCount" value="10"/>
    <add key="messageDistribeBufferCount" value="1000"/>
    <add key="messageDistribeBufferWait" value="100"/>
    
    <!--启动服务项MSMQ-->
    <add key="WatchServiceItem" value="MSMQ"/>
    <add key="WatchInterval" value="1000"/>
  </appSettings>

</configuration>