<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!--数据库连接配置 
	    name: 项目Model实体类配置的ConnectKey
	    providerName: 数据连接驱动提供类型(MYSQL: MySqlDataProvider, MSSQL: SqlDataProvider),默认是MSSQL
	    connectionString: 数据库连接字符串
	-->
    <add name="DirData" providerName="SqlDataProvider" connectionString="Data Source=.;Database=PayDB;Uid=game_user;Pwd=123;"/>
    <!--<add name="DirData" providerName="MySqlDataProvider" connectionString="Data Source=192.168.1.104;Database=PayDB;Uid=game_user;Pwd=123;" />-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>

</configuration>
