/Source/Framework/ZyGames.Framework/obj
/Source/Framework/ZyGames.Framework/bin
/Source/Framework/ZyGames.Framework.Common/obj
/Source/Framework/ZyGames.Framework.Common/bin
/Source/Middleware/AccountServer/bin
/Source/Middleware/AccountServer/obj
/Source/Middleware/GameServer/bin
/Source/Middleware/GameServer/obj
/Source/Middleware/ScutSecurity/bin
/Source/Middleware/ScutSecurity/obj
/Source/Middleware/ZyGames.Framework.Game/bin
/Source/Middleware/ZyGames.Framework.Game/obj
/Source/Tools/ContractTools/src/ContractTools.WebApp/bin
/Source/Tools/ContractTools/src/ContractTools.WebApp/obj
/Source/Framework/*.suo
/Source/Middleware/*.suo
/SDK/Unity3d/obj
/SDK/Unity3d/Library/metadata
/Source/Framework/packages
