<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="User.Password.EncodeKey" value="s^c7u-t" />
    <add key="User.Host" value="http://127.0.0.1" />
    <add key="User.Port" value="80" />
    <add key="User.ActionId" value="1004" />
    <add key="User.GameType" value="1" />
    <add key="User.ServerID" value="1" />
    <add key="User.RetailID" value="0000" />
    <add key="User.Pid" value="z1000" />
    <add key="User.Pwd" value="111111" />
    <add key="User.DeviceID" value="" />
    <add key="User.MobileType" value="0" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
