<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="D:/NLog/AccountLog"/>
  <targets>
    <target name="Info" xsi:type="File" fileName="${logDirectory}/Info/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="Debug" xsi:type="File" fileName="${logDirectory}/Debug/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="Exception" xsi:type="File" fileName="${logDirectory}/Exception/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="Fatal" xsi:type="File" fileName="${logDirectory}/Fatal/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="Warn" xsi:type="File" fileName="${logDirectory}/Warn/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="Client" xsi:type="File" fileName="${logDirectory}/Client/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="SqlError" xsi:type="File" fileName="${logDirectory}/Sql/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="Complement" xsi:type="File" fileName="${logDirectory}/Complement/${date:format=yyyyMMddHH}.txt" layout="${message}"/>
    <target name="Console" xsi:type="Console" layout="${message}"/>
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="Info,Console"/>
    <logger name="*" level="Debug" writeTo="Debug"/>
    <logger name="*" level="Error" writeTo="Exception"/>
    <logger name="*" level="Fatal" writeTo="Fatal"/>
    <logger name="*" level="Warn" writeTo="Warn"/>
    <logger name="Client" level="Trace" writeTo="Client"/>
    <logger name="Sql" level="Trace" writeTo="SqlError"/>
    <logger name="Complement" level="Trace" writeTo="Complement"/>
  </rules>
</nlog>
