<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnitTest.LoginActionId" value="1004"/>
    <add key="Product.SignKey" value=""/>
    <add key="Product.ClientDesDeKey" value="j6=9=1ac"/>
  </appSettings>
  <connectionStrings>
    <!--If is MySql utf8 then set connectionString="server=localhost;database=ContractDB;uid=root;pwd=123456;charset=utf8"-->
    <!--<add name="Contract" providerName="MySqlDataProvider" connectionString="server=localhost;database=ContractDB;uid=root;pwd=123456" />-->
    <add name="Contract" providerName="SqlDataProvider" connectionString="server=.;database=ContractDB;uid=sa;pwd=123" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>
