<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnitTest.LoginActionId" value="1001,1003,1004"/>
    <add key="Product.SignKey" value=""/>
    <add key="Product.ClientDesDeKey" value="j6=9=1ac"/>
  </appSettings>
  <connectionStrings>
    <!--If is MySql utf8 then set connectionString="server=localhost;database=ContractDB;uid=root;pwd=123456;charset=utf8"-->
    <!--<add name="Contract" providerName="MySqlDataProvider" connectionString="server=localhost;database=ContractDB;uid=root;pwd=123456" />-->
    <add name="Contract" providerName="MySqlDataProvider" connectionString="server=localhost;database=ContractDB;uid=root;pwd=123456"/>
    
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
</configuration>