<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--socket listen-->
    <add key="Port" value="9700"/>
    <add key="MaxConnections" value="40000"/>
    <add key="Backlog" value="1000"/>
    <add key="MaxAcceptOps" value="1000"/>
    <add key="BufferSize" value="1024"/>
    <!--http listen
    <add key="GameHost" value="http://ddz.36you.net"/>
    <add key="GamePort" value="80"/>
    <add key="GameName" value="Service.aspx"/>
	-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DirServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dir.36you.net/DirService.asmx" binding="basicHttpBinding"
          bindingConfiguration="DirServiceSoap" contract="net._36you.dir.DirServiceSoap"
          name="DirServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
