<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="Contract" providerName="" connectionString="server=.;database=ContractDB;uid=sa;pwd=123" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>
