<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--写库队列配置
        Redis.Host:Redis主机地址
        Redis.Password:密码
        Redis.Db:数据库位置
        MessageQueueNum:开始的队列个数
    -->
    <add key="Redis.Host" value="192.168.1.104"/>
	<add key="Redis.Db" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
