<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Product.SignKey" value="6E5438A53A9641798433BB8B1EEB098E"/>
    <add key="Product.ClientDesDeKey" value="zy=0=7bk"/>
    <add key="Game.Http.Host" value="pass.36you.net,127.0.0.1:8801" />
    <add key="Game.Http.Port" value="80" />
    <add key="Game.Http.Name" value ="default.ashx"/>
    <add key="Redis.Host" value="127.0.0.1:6379"/>
    <add key="Redis.Db" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="SnsCenter" providerName="SqlDataProvider" connectionString="Data Source=192.168.1.106;Database=SnsCenter;Uid=ser_release;Pwd=2010HAtang!#123-pl,;"/>
  </connectionStrings>
</configuration>
