<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Product.SignKey" value=""/>
    <add key="Product.ClientDesDeKey" value="j6=9=1ac"/>
    <add key="Game.Http.Host" value="pass.scutgame.com,127.0.0.1:8801" />
    <add key="Game.Http.Port" value="80" />
    <add key="Game.Http.Name" value ="default.ashx"/>
    <add key="Redis.Host" value="127.0.0.1:6379"/>
    <add key="Redis.Db" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="SnsCenter" providerName="SqlDataProvider" connectionString="Data Source=localhost;Database=SnsCenter;Uid=sa;Pwd=123" />
  </connectionStrings>
</configuration>
