<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="SimpleManager_ConnectionString" value="Data Source={0};Database=SvnDeployment;{1}; Pooling=true;Max Pool Size=100;Min Pool Size=0;"/>
		<add key="SimpleManager_Server" value="."/>
		<add key="SimpleManager_Acount" value="3368038D7220BA2301EFD03871E28EC8CDC0B16C09C83665"/>
		<!--SVN部署（使用Release目录下提供的加解工具，原串：Uid=game_user;Pwd=123）-->
    <add key="DEPLOY_ConnectString" value="Data Source={0};Database=SvnDeployment;{1}; Pooling=true;Max Pool Size=100;Min Pool Size=0;"/>
		<add key="DEPLOY_Server" value="."/>
		<add key="DEPLOY_Acount" value="3368038D7220BA2301EFD03871E28EC8CDC0B16C09C83665"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>
