<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Game info setting-->
    <add key="CSharpRootPath" value="Case"/>
    <add key="Request.Timeout" value="1000"/>
    <add key="CaseStep.Type.Format" value="ZyGames.Test.App.Case.Step{0}"/>
    <add key="CaseStep.Script.Format" value="Case.Step{0}.cs"/>
    <add key="Test.SignKey" value=""/>
    <add key="Test.EncodePwdKey" value="j6=9=1ac"/>
    <add key="Test.Url" value="127.0.0.1:2015"/>
    <add key="Test.GameId" value="1"/>
    <add key="Test.ServerId" value="1"/>
    
    <!--Test setting
        Test.Steps:
        Test.Pid:Z60000-Z66000        
        60000->Test.Uid=1426395
        60500->Test.Uid=1426895
        61000->Test.Uid=1427395
        61500->Test.Uid=1427895
        62000->Test.Uid=1428395
    -->
    <add key="Test.ThreadNum" value="1"/>
    <add key="Test.Runtimes" value="1"/>
    <add key="Test.Pid" value="62000"/>
    <add key="Test.Uid" value="1426395"/>
    <add key="Test.UserPwd" value="1234567"/>
    <!--
    <add key="Test.Steps" value="1004,100=10"/>
    -->
    <add key="Test.Steps" value="1004=10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
