<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="User.Password.EncodeKey" value="j6=9=1ac"/>
    <add key="User.Host" value=""/>
    <add key="User.Port" value=""/>
    <add key="User.ActionId" value=""/>
    <add key="User.GameType" value=""/>
    <add key="User.ServerID" value=""/>
    <add key="User.RetailID" value=""/>
    <add key="User.Pid" value=""/>
    <add key="User.Pwd" value=""/>
    <add key="User.DeviceID" value=""/>
    <add key="User.MobileType" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
