<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--基本配置
        Port:监听端口
        Code:产品代码
        ServerId:产品游服代码
        Redis.Host:Redis主机地址
        Redis.Port:Redis主机端口
        Redis.Password:密码
        Redis.Db:数据库位置
    -->
    <add key="Product.Code" value="0" />
    <add key="Product.ServerId" value="0" />
    <add key="Game.Port" value="9101" />
    <add key="Redis.Host" value="127.0.0.1" />
    <add key="ScriptRelativePath" value="Script" />
    <add key="CSharpRootPath" value="CsScript" />

  </appSettings>

  <connectionStrings>
    <!--可选产品数据库配置,providerName: 数据连接驱动提供类型(MYSQL: MySqlDataProvider, MSMQ: SqlDataProvider),默认是MSMQ
        SnsCenter:用户中心数据库连接串配置
        PayCenter:充值中心数据库连接串配置
    -->
    <add name="SnsCenter" providerName="SqlDataProvider" connectionString="Data Source=localhost;Database=snscenter;Uid=sa;Pwd=123;Pooling=true;"/>
    <add name="PayCenter" providerName="SqlDataProvider" connectionString="Data Source=localhost;Database=PayDB;Uid=sa;Pwd=123;Pooling=true;"/>
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
