<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Product.SignKey" value=""/>
    <add key="Product.ClientDesDeKey" value="j6=9=1ac"/>
    <add key="Redis.Host" value="127.0.0.1:6379" />
    <add key="Redis.Db" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="SnsCenter" providerName="SqlDataProvider" connectionString="Data Source=localhost;Database=SnsCenter;Uid=sa;Pwd=123" />
  </connectionStrings>
  
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.ashx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>